<!DOCTYPE html>
{% load static %}
<html lang="en">
    <meta charset="UTF-8">
    <title>Sample Page</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>
<table>
   <thead>
   <tr>
      <th>Name </th>
      <th>Age </th>
      <th>Class </th>
      <th>Department </th>
   </tr>
   </thead>
   <tbody>
      {% for stu in data %}
      <tr>
         <td>
            {{ stu.stu_name }}
         </td>
         <td>
            {{ stu.stu_age }}
         </td>
         <td>
            {{ stu.stu_class }}
         </td>
         <td>
            {{ stu.stu_dept.dept_name }}
         </td>
      </tr>
      {% endfor %}
   </tbody>

</table>
{% comment "not required" %}
<marquee behavior="" direction="left">
    {% if True %}
    <h1> Welcome {{ name }}</h1>
    {% else %}
    <h1> Welcome </h1>
    {% endif %}
</marquee>
{% endcomment %}
</body>
</html>